.maindetail {
    border: 1px solid #ccc; /* ลดความหนาของกรอบ */
    padding: 15px; /* ลดช่องว่างภายในกรอบ */
    border-radius: 5px; /* ลดความโค้งมนของขอบ */
    background-color: #ffffff; /* กำหนดสีพื้นหลังให้เป็นสีเทาอ่อน */
    width: 100%; /* ขยายความกว้างให้เต็มพื้นที่ */
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0); /* เพิ่มเงาให้กรอบดูมีมิติ */
    margin-bottom: 0.5cm;
  }

.card {
    margin-bottom: 10px;
}

.button-right {
    float: right;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.bg-secondary-custom {
    background-color: #e9ecef;
}

.btn-success {
    background-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
}